*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content:space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.header{
    background-image: url(developer.png), url(header_bg.png);
    background-position: top left,right bottom;
    background-repeat: no-repeat;
}
    
/* common */
.text-prymary{
color:#FD6E0A;
}
nav ul{
    list-style: none;
    display: flex;
    justify-items: center;
    align-items: center;
   
}
nav ul li{
    list-style: none;
    margin-right:40px;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.butt{
    background-color: #FD6E0A;
    padding: 10px 10px;
    margin-top: 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    text-align: center;
 }

.Nav-title{
    font-weight: 600px;
    font-size: 45px;
    display: flex;
}
.hallw{
    font-size:26px;
    font-weight: 600px;
}
.name{
    font-size:35px;
    font-weight: bold;
    margin: 10px;
}
.discription{
    margin: 10px;
}
 
.image{
    width: 584px;
    justify-content: space-between
}
/* barar */
.banar{
    margin: 0px 40px 0 100px;
    display: flex;
    justify-content: space-around;
    margin: 0px;
}
.content{
   margin: 45px 40px 
}